.meetups-wrapper {
  @include make-angle (white, 5);
}

.meetups-container {
  @extend .container;
  .meetups {
    @extend .row;
  }
}

.meetups__list {
  width: 100%;
}

.meetup__summary {
  width: 100%;
  @extend .d-flex;
  @extend .justify-content-center;
  &:nth-child(odd) {
    .meetup__summary__body {
      order: 2;
    }
  }

  &__body {
    @extend .col-lg-7;
    background-color: white;
  }

  &__title {
    font-size: 35px;

  }

  &__text {
    font-weight: 500;
    font-size: 20px;
  }

  &__photo {
    @extend .col-lg-3;
    background-color: white;
  }
}
