.meetups-wrapper {
  background-color: $medium-blue;
  padding-bottom: 6px;
  @include make-angle ($medium-blue, 5);
}

.meetups-container {
  @extend .container;
  .meetups {
    @extend .row;
  }
}

.meetups__list {
  width: 100%;
  font-size: 20px;
}

.meetup__photo {
  padding: 0px;
}

.img-fluid-meetup {
  max-width: 100%;
  display: block;
  margin: 0 auto;
}

.meetup__summary {
  width: 100%;
  margin: 40px;
  @extend .d-flex;
  @extend .flex-column;
  @extend .flex-md-row;
  @extend .justify-content-center;
  &:nth-child(odd) {
    .meetup__summary__body {
      order: 2;
    }
  }

  &__body {
    @extend .col-lg-7;
  }

  &__title {
    font-weight: 700;
    color: white;
    font-size: 35px;
  }

  &__text {
    color: white;
    font-family: 'Advent Pro', sans-serif !important;
    font-weight: 700;
    font-size: 20px;
    margin-top: 20px;
    margin-bottom: 8px;
  }

  &__photo {
    @extend .col-lg-3;
    background-color: $dark-blue;
  }

  .meetup-img-fluid {
    @extend .align-self-center;
    margin: 60px
  }
}
